.navbar-cell-container {
    width: 100vw;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.navbar-cell-text {
    text-align: center;
    color: black;
    font-size: 18px;
}

.indicator {
    height: 5px;
    border-radius: 5px;
    margin: auto;
    transition: 0.5s;
}

.indicator-default {
    width: 5%;
    background-color: gray;
}

.indicator-hovering {
    width: 40%;
    background-color: rgb(0, 128, 255);
}

.indicator-active {
    width: 100%;
    background-color: rgb(0, 128, 255);
}