.custom-dropdown,
.custom-search-box,
.custom-input {
    display: flex;
    flex-direction: row;
    margin: 5px;

    label {
        background-color: #d5dde3;
        box-shadow: 0px 0px 2px inset rgb(78, 85, 90);
    }

    select,
    input {
        border: none;
        box-shadow: 0px 0px 2px inset rgb(99, 118, 129);
        background-color: #fafdff;
        transition: 0.2s;
    }

    select:hover,
    input:hover {
        box-shadow: 0px 0px 5px inset rgb(99, 118, 129);
        transition: 0.2s;

    }

    select,
    label,
    input {
        border-radius: 0;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 5px;
        line-height: 30px;
    }

    .custom-checkbox {
        height: 30px;
        width: 30px;
        border: none;
        box-shadow: 0px 0px 2px inset rgb(99, 118, 129);
        background-color: #fafdff;
        transition: 0.2s;
    }

    .custom-checkbox:hover {
        box-shadow: 0px 0px 5px inset rgb(99, 118, 129);
        transition: 0.2s;
    }

    .custom-search-results {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
        box-shadow: 0px 0px 2px inset rgb(99, 118, 129);
        background-color: #fafdff;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 2;
    }

    .custom-search-item {
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid rgb(99, 118, 129);
    }
}

.custom-search-box {
    position: relative;
    width: fit-content;
}