.dashboard-card{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: #ffffff;
    padding: 0.9rem 0.4rem;
    height: 100%;
    box-shadow: 0px 0px 2px inset rgb(78, 85, 90);
    border-radius: 5px;

    &__title{
        margin-bottom: 0.5rem;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    &__table{
        width: 100%;
        flex: 1;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__table-row{
        display: grid;
        grid-template-columns: repeat(var(--row-count), 1fr);
        color: $black;
        width: 100%;
        border-bottom: 1px solid $white;
        padding: 0.4rem 0;
        justify-items: center;

        &--header{
            position: sticky;
            top: 0;
            background-color: $backgound;
            text-align: center;
            font-weight: bold;
        }
    }

        &__table-row:nth-child(odd) {
            background-color: white;
        }

        &__table-row:nth-child(even) {
            background-color: $backgound;
        }
}