*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.scrollbar{
    display: block;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 210px;
}

@import "variable";
@import "components/header";
@import "login/login";
@import "admin/admin";
@import "admin/dashboard";