*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.admin{
    padding: 0rem 2rem;
    margin-top: 1.7rem;
}

@import "variable";
@import "components/header";
@import "login/login";
@import "admin/dashboard";