* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@import "variable";
@import "login/login";
@import "admin/admin";
@import "admin/dashboard";
@import "components/popup";