.room-container {
    .back-button {
        background-color: rgb(116, 175, 252);
        padding: 20px;
        border: none;
        border-radius: 8px;
        margin: 20px;
        cursor: pointer;
    }
}