label {
  color: black !important;
}

.edit-button, .submit-button {
  color: white;
  background-color: #e05b68;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  width: 150px;
  height: 40px;
  position: relative;
  left: 25px;
}

.edit-button:hover, .submit-button:hover {
  background-color: #da878f;
}


.profile-fields {
  position: relative;
  left: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 25px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

textarea {
  font-size: 15px;
}

input, label, textarea {
  margin-bottom: -10px;
}
