.event-management-card {
    box-shadow: 0px 0px 2px inset rgb(99, 118, 129);
    background-color: #fafdff;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid rgb(99, 118, 129);
    border-radius: 2px;
    padding: 10px;
}

.event-management-card-list {
    width: 15%;
    margin: 15px;
    margin-right: 5%;
}

.event-management-card:hover {
    box-shadow: 0px 0px 5px inset rgb(111, 131, 143);
    transition: 0.2s;
}

.event-management-card * {
    margin: 5px;
}

.event-manegement-card-title {
    text-align: center;
}

.event-management-screen {
    display: flex;
    flex-direction: row;
}

.event-details-panel {
    background-color: white;
    width: 75%;
    box-shadow: 0px 0px 2px rgb(99, 118, 129);
}

.event-details-panel-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.edit-event-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    box-shadow: 0px 0px 2px inset rgb(99, 118, 129);
    background-color: #fafdff;
}