.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.calendar-table {
    width: 100%;
}

.calendar-table-cell {
    border: 1px solid rgb(204, 204, 204);
    height: 12vh;
    width: 12vw;
    display: inline-block;
    vertical-align: top;
}

.calendar-event-button {
    position: relative;
    width: 100%;
    background-color: rgb(182, 184, 255);
}