.login-container {
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px inset rgb(99, 118, 129);
    background-color: #fafdff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}