.event-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 20%;
    height: 40%;
    border: 1px solid black;

    .close-button {
        float: right;
        border: none;
        background-color: rgb(255, 0, 0);
        padding: 10px;
        cursor: pointer;
    }
}