.event-container {
    .title {
        font-size: 18px;
    }

    .left-panel {
        float: left;
        display: flex;
        flex-direction: column;
        width: 75%;

        p {
            margin: 5px;
        }

        .left-top {
            width: 100%;
            float: left;
        }

        .left-bottom {
            display: flex;
            flex-direction: row;
            width: 100%;
            border-top: 1px solid rgb(199, 199, 199);
        }

        .room-information {
            width: 50%;
            text-align: center;

        }
    }

    .right-panel {
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgb(199, 199, 199);
    }


}